snippet article
	\documentclass[DIN, pagenumber=false, fontsize=11pt, parskip=half]{scrartcl}

	\usepackage{ngerman}
	\usepackage[utf8]{inputenc}
	\usepackage[T1]{fontenc}
	\usepackage{textcomp}

	\begin{document}

	${1}

	\end{document}
